a:link{

	text-decoration: none;
	color: #32296C;

}
a:visited{

	text-decoration: none;
	color: #32296C;

}
a:active{

	text-decoration: none;
	color: #32296C;

}
a:hover{

	text-decoration: none;
	color: #7377B8;

}
body{

	color: #255078;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	font-family: 'Averia Libre';
	font-size: 90%;
	background-color: #345DE2;
    overflow-y= hidden;

}
    #infoarea{
      	background-color: #C9E0EC;
        position: relative;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 30%;
        padding: 1%;
        border: 1px;
        border-style: dashed;
      }
    #infobox{
        position: absolute; 
        width:45%;
        text-align:center;
        z-index: 100;
      }
    #sitelink{
      	position: relative;
        left: 30%; 
        top: 30%; 
        width:15%; 
        height: 2%; 
        margin-left: 40%; 
        text-align: center;
}